{% extends 'main/navbar2.html' %}
{% load static %}









{% block title %}
Trang cá nhân
{% endblock %}











{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<style>


    /* Main styling for the profile page */
    .edit-comment ul li i {
        font-weight: bold;
    }

    /* llllllllllllllllll */

    .btnXoa {
        padding: var(--btn-padding);
        border-radius: var(--boder-radius);
        background: var(--color-danger);
        color: var(--color-white);
        font-weight: bold;
    }

    .liked-by {
        display: flex;
        margin-top: 10px;
    }

    .liked-by span {
        border-radius: 50%;
        display: block;
        height: 1.4rem;
        width: 1.4rem;
        overflow: hidden;
        margin-left: -.6rem;
        border: 2px solid var(--color-white);
    }

    .liked-by span:first-child {
        margin: 0;
    }

    .liked-by p {
        margin-left: .5rem;
    }

    .liked {
        font-weight: bold !important;
        color: var(--color-danger);
        transform: scale(1.1);
    }

    .like-btn {
        background: var(--color-white);
    }

    .caption span {
        font-size: 0.8rem;
        margin-left: 12px;
    }

    .caption .edit-comment {
        position: relative;
        margin-right: 30px;
    }

    .caption .edit-comment img {
        width: 1.6rem;
    }

    .edit-comment:hover .edit-item {
        transform: scale(1);
    }

    .edit-comment .edit-item li {
        display: flex;
        gap: .5rem;
        align-items: center;
        font-size: 1rem;
        color: var(--color-gray);
        transition: 300ms ease all;
    }

    .edit-comment .edit-item {
        background: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-boder-radius);
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        position: absolute;
        right: 0;
        box-shadow: 0 0 0.2rem var(--color-primary);
        top: 2.4rem;
        transform: scale(0);
        transition: 300ms all ease;
        transform-origin: top right;
    }

    .edit-comment .edit-item li:hover {
        color: var(--color-dark);
    }

    .edit-comment .edit-item li:last-child:hover {
        color: var(--color-danger);
    }

    .comment {
        width: 80%;
        border: 1px solid black;
        border-radius: 25px;
        height: 55px;
        margin-top: 10px;
        padding: 15px 15px 15px 20px;
        resize: none;
        overflow: hidden;
    }

    .btnSend {
        width: 15%;
        margin-top: -10px;
        border-radius: 50px;
        background: hsl(252, 75%, 60%);
        padding-bottom: 15px;
        color: white;
        font-weight: bold;
        border: 1px solid white;
        float: left;
        height: 55px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .comment-main {
        display: flex;
        margin-bottom: 20px;
    }

    .caption {
        margin-top: 10px;
        background: #faebd7;
        padding: 10px 10px 10px 30px;
        border-radius: 50px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .caption i {
        font-weight: bold;
    }

    .caption img {
        width: 100%;
        display: block
    }

    .caption p {
        margin-bottom: 0rem;
    }

    .info-user small img {
        margin-top: 0px;
    }

        {
        % comment %
    }

    đếm số lượng image {
        % endcomment %
    }

    .image-count {


        /* Điều chỉnh vị trí này để phù hợp */
        background-color: rgba(0, 0, 0, 0.5);
        /* Màu nền làm mờ */
        color: white;
        /* Màu chữ */
        padding: 5px 10px;
        /* Điều chỉnh padding để phù hợp */
        font-size: 1em;
        /* Điều chỉnh cỡ chữ */
        font-weight: bold;
        /* Chữ đậm */
        border-radius: 15px;
        /* Bo góc của số lượng */
        z-index: 2;
    }

    .imglist,
    .image-container {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .imglist img,
    .image-container a img {
        max-height: fit-content;
    }

        {
        % comment %
    }

    .video-count {
        height: 30px;
        margin-left: -45px;
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        font-size: 1em;
        font-weight: bold;
        border-radius: 15px;
        z-index: 2;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .image-container a {
        display: block;
    }

    .image-container img {
        display: block;
        /* Loại bỏ khoảng trắng dưới hình ảnh */
        width: 100%;
        /* Giả sử bạn muốn hình ảnh chiếm toàn bộ chiều rộng của container */
        vertical-align: middle;
        border-radius: 10px;
        /* Bo góc của hình ảnh như trong ví dụ */
    }

    .image-count {
        position: absolute;
        top: 10px;
        /* Điều chỉnh vị trí này để phù hợp */
        right: 10px;
        /* Điều chỉnh vị trí này để phù hợp */
        background-color: rgba(0, 0, 0, 0.5);
        /* Màu nền làm mờ */
        color: white;
        /* Màu chữ */
        padding: 5px 10px;
        /* Điều chỉnh padding để phù hợp */
        font-size: 1em;
        /* Điều chỉnh cỡ chữ */
        font-weight: bold;
        /* Chữ đậm */
        border-radius: 15px;
        /* Bo góc của số lượng */
        z-index: 2;
    }

    /* Thêm hiệu ứng làm mờ khi di chuột qua */
    .image-container:hover img {
        opacity: 0.7;
    }

    .form-edit-post label[for="id_content"],
    .form-edit-post label[for='id_visibility'] {
        font-weight: bold;
        font-size: 1rem;
    }

    .form-edit-post label[for='id_visibility'] {
        font-weight: bold;
        font-size: 1rem;
        margin-right: 60px;
    }

    .form-edit-post label[for='id_image'] {
        font-weight: bold;
        font-size: 1rem;
        margin-right: 80px;
    }

    #id_image {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }

    .form-edit-post #id_content {
        margin-left: 75px;
        margin-top: 30px;
        max-height: 10rem;
        max-width: 650px;
        min-width: 649px;
        font-weight: bold;
        border-radius: var(--boder-radius);
        padding: 15px 10px 0px 25px;
        background: #e8e4f1;
        display: table-cell;
    }

    #id_visibility {
        margin-bottom: 45px;
        width: 80%;
        border: 1px solid rgb(196, 196, 196);
        padding: 10px;
        font-weight: bold;
        background: #f6f1f1;
        border-radius: var(--card-boder-radius);
    }

    .h1-editpost {
        font-weight: bold;
        font-size: 3rem;
    }

    .auther_comment {
        display: none;
        margin-bottom: 5px;
    }

    .input-edit-comment {
        border: 1px solid var(--color-dark);
        border-radius: var(--card-boder-radius);
        padding: var(--card-padding);
        width: 90%;
        font-weight: bold;
        display: none;
        margin-bottom: 10px;
    }

    .edit-input-comment {
        display: flex;
    }

    .btn-send {
        float: left;
        width: 10%;
        border: 1px solid var(--color-white);
        border-radius: var(--boder-radius);
        background: var(--color-primary);
        color: var(--color-white);
        font-weight: bold;
        font-size: 1rem;
        max-height: 50px;
        margin-left: 10px;
    }

    /* llllllllllllllllll */

    .profile-page {
        font-family: Arial, sans-serif;
        color: #333;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .cover-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .profile-info {
        text-align: center;
        padding: 20px;
    }

    .avatar img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid #ddd;
        margin-top: -100px;
        background: #fff;
    }

    h1,
    h2 {
        margin: 10px 0;
    }

    .bio {
        margin: 10px 0;
        font-style: italic;
    }

    .location,
    .gender,
    .birthday {
        font-size: 0.9em;
        color: #666;
    }

    .friends-list h3 {
        margin-top: 20px;
        color: #333;
    }

    .friends-list ul {
        list-style: none;
        padding: 0;
    }

    .friends-list li {
        margin: 5px 0;
    }

    /* Add more styles as needed */
    /* post list */
    .posts-list ul {
        list-style: none;
        padding: 0;
    }

    .posts-list li.post {
        background-color: #f9f9f9;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .post-content img {
        max-width: 100%;
        height: inherit;
        border-radius: 5px;
    }

    .post-stats {
        margin-top: 10px;
        font-size: 0.9em;
        color: #666;
    }

    .post-visibility {
        font-size: 0.9em;
        color: #666;
        margin-top: 5px;
    }

    .post-comments {
        margin-top: 10px;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
    }

    .post-comments p {
        margin: 5px 0;
        font-size: 0.9em;
    }

    /* Friend list */
    .friends-list .card {
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .friends-list .card-img-top {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .friends-list .card-title {
        margin-top: 10px;
        font-size: 1em;
        font-weight: bold;
    }

        {
        % comment %
    }

    bài viết gần đây {
        % endcomment %
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: #e8e4f1;
    }

    .posts-list {
        font-family: Arial, sans-serif;
        color: #333;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
    }

    .post-content .post-img-user {
        border-radius: 50%;
        border: 2px solid rgb(186, 182, 182);
        width: 60px;
        height: 60px;
        object-fit: fill;
        overflow: hidden;
    }

    .user-post {
        display: flex;
        margin-bottom: 10px;
    }

    .post-img {
        margin-top: -20px;
    }

    .info-user {
        float: right;
        margin-left: 20px;
        font-size: 1rem;
        margin-top: 10px;
    }

    .info-user h4 {
        font-weight: bold;
    }

    .info-user small {
        color: hsl(225, 15%, 60%, 1);
    }

    .post-content i {
        font-weight: normal;
    }

    .comment {
        width: 80%;
        border: 1px solid black;
        border-radius: 25px;
        height: 55px;
        margin-top: 10px;
        padding: 15px 15px 15px 20px;
        resize: none;
        overflow: hidden;
    }

    .btnSend {
        width: 15%;
        margin-top: -10px;
        border-radius: 50px;
        background: hsl(252, 75%, 60%);
        padding-bottom: 15px;
        color: white;
        font-weight: bold;
        border: 1px solid white;
        float: left;
        height: 55px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .comment-main {
        display: flex;
        margin-bottom: 20px;
    }

    .caption {
        background: #faebd7;
        padding: 10px 10px 10px 30px;
        border-radius: 50px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .caption p {
        margin-bottom: 0rem;
    }

    .info-user small img {
        margin-top: 0px;
    }

        {
        % comment %
    }

    Css nav {
        % endcomment %
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        text-decoration: none;
        list-style: none;
        border: none;
    }

    :root {
        --primary-color-hue: 252;
        --color-dark-light-theme: 15%;
        --color-light-light-theme: 92%;
        --color-white-light-theme: 100%;
        --color-white: hsl(255, 30%, var(--color-white-light-theme));
        --color-light: hsl(255, 30%, var(--color-light-light-theme));
        --color-gray: hsl(255, 15%, 60%);
        --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
        --color-secondary: hsl(255, 100%, 90%);
        --color-success: hsl(120, 95%, 60%);
        --color-danger: hsl(0, 95%, 60%);
        --color-dark: hsl(255, 30%, var(--color-dark-light-theme));
        --color-black: hsl(255, 30%, 8%);

        --boder-radius: 2rem;
        --card-boder-radius: 1rem;
        --search-padding: .6rem 1rem;
        --card-padding: 1rem;
        --btn-padding: .6rem 2rem;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--color-dark);
        background: var(--color-light);
    }

    /* img {
        display: block;
        width: 100%;
    } */

    .logo img {
        border-radius: 50%;
        max-width: 50px;
        max-height: 50px;
    }

    nav {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        padding: .7rem 0;
        background: var(--color-white);
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    nav .search-bar {
        padding: var(--search-padding);
        background: var(--color-light);
        border-radius: var(--boder-radius);
    }

    nav .search-bar input[type="search"] {
        background: transparent;
        width: 30vw;
        margin-left: 1rem;
        font-size: .9rem;
        color: var(--color-dark);
    }

    nav .search-bar input[type="search"]::placeholder {
        color: var(--color-gray);
    }

    /**/
    .profile-picture {
        display: none;
        width: 3rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }

    /**/
    .logo img {
        border-radius: 50%;
        max-width: 50px;
        max-height: 50px;
    }

    nav {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        padding: .7rem 0;
        background: var(--color-white);
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .search-bar {
        padding: var(--search-padding);
        background: var(--color-light);
        border-radius: var(--boder-radius);
    }

    nav .search-bar input[type="search"] {
        background: transparent;
        width: 30vw;
        margin-left: 1rem;
        font-size: .9rem;
        color: var(--color-dark);
    }

    nav .search-bar input[type="search"]::placeholder {
        color: var(--color-gray);
    }

    .add-post {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .popup>div {
        display: flex;
    }

    .profile-popup-box>div {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 2rem;
    }

    .popup-box {
        width: fit-content;
        height: max-content;
        background: var(--color-white);
        padding: 3rem;
        border-radius: var(--card-boder-radius);
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .btn {
        padding: var(--btn-padding);
        display: inline-block;
        cursor: pointer;
        border-radius: var(--boder-radius);
        font-size: 0.9rem;
        font-weight: 500;
        transform: 300ms ease all;
    }

    .btn:hover {
        opacity: 0.75;
    }

    .btn-primary {
        background: var(--color-primary);
        color: var(--color-white);
    }

    .btn-primary a {
        color: var(--color-white);
    }

    .btn-lg {
        padding: 1rem 0;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    .popup {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: fixed;
        justify-content: center;
        top: 0;
        left: 0px;
        z-index: 11;
        background: #000000ba;
        display: none;
    }

    .popup .close {
        font-size: 1.6rem;
        color: var(--color-white);
        margin-left: 0.5rem;
        margin-top: -1rem;
    }

    .popup .close i {
        font-weight: bold;
    }

    .profile-page {
        margin-top: 165px;
        background-color: var(--color-white);
    }
    .btn-message {
        padding: 0.6rem 2rem;
        background-color: #4CAF50; /* Màu xanh lá */
        color: white;
        border-radius: 5px;
        margin-left: 10px; /* Khoảng cách với nút bên cạnh */
        font-size: 1rem;
        text-decoration: none; /* Loại bỏ gạch chân nếu là thẻ <a> */
        display: inline-block; /* Để hiển thị như một nút */
        transition: background-color 0.3s;
    }

    .btn-message:hover {
        background-color: #388E3C; /* Màu khi hover */
    }

        {
        % comment %
    }

    end css nav {
        % endcomment %
    }
</style>
{% endblock css %}











{% block content %}

<div class="profile-page">
    <div class="cover-image">
        {% if object.cover %}
        <img src="{{ object.cover.url }}" alt="Ảnh bìa">
        {% else %}
        <img src="{%static 'images/cover_macdinh.jpg'%}" alt="Ảnh bìa">
        {% endif %}
    </div>

    <div class="profile-info">
        <div class="avatar">
            <img src="{{ object.avatar.url }}" alt="Ảnh đại diện">
        </div>
        <h1>{{ object.first_name }} {{ object.last_name }}</h1>
        <p class="bio">{{ object.bio }}</p>
        <p class="location">Đến từ: {{ object.get_country_display }}</p>
        <p class="gender">Giới tính: {{ object.get_gender_display }}</p>
        <p class="birthday">Ngày sinh: {{ object.birthday|date:"d-m-Y" }}</p>
        <!-- Nếu object.username ko nằm trong danh sách người gửi lời mới 
            Nếu object.username ko nằm trong danh sách người nhân lời mới -->

        {%if object.username not in rel_receiver and object.username not in rel_sender%}
        <form action="{%url 'profiles:send_invite'%}" method="post">
            {%csrf_token%}
            <input type="hidden" name="profile_pk" value="{{object.pk}}">
            <button class="btn btn-success" type="submit">Add to friends</button>
        </form>
        
        {%endif%}
        <!-- Nếu object.username (đang xem ở detail) đang nằm trong danh sách người nhận lời mời kết bạn
và 
thằng đang đăng nhập ko nằm trong danh sách bạn nè -->
        {% if object.username in rel_receiver and request.user not in object.friends.all %}
        <form action="{% url 'profiles:remove_friend' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="profile_pk" value="{{ object.pk }}">
            <button class="btn btn-info" type="submit">Waiting for approval</button>
        </form>

        {%endif%}
        {% comment %} Nếu thằng đang đăng nhập nằm trong danh sách bạn bè {% endcomment %}
        {%if request.user in object.friends.all %}
        <form action="{%url 'profiles:remove_friend'%}" method="post">
            {%csrf_token%}
            <input type="hidden" name="profile_pk" value="{{object.pk}}">
            <button class="btn btn-danger" type="submit">Remove from friends</button>
        </form>
        {% else %}
        <br>
        {% if object.username in rel_sender and request.user in rel_r_yn %}
        <form action="{%url 'profiles:accept_invite'%}" method="post">
            {%csrf_token%}
            <input type="hidden" name="profile_pk" value="{{object.pk}}">
            <button class="btn btn-success" type="submit">Accept</button>
        </form>
        <form action="{%url 'profiles:remove_friend'%}" method="post">
            {%csrf_token%}
            <input type="hidden" name="profile_pk" value="{{object.pk}}">
            <button class="btnXoa" type="submit">Delete</button>
        </form>
        {% endif %}
        {%endif%}
        <br>

        <form action="{%url 'profiles:message'%}" method="post">
            {%csrf_token%}
            <input type="hidden" name="its_profile" value="{{object.id}}">
            <button type="submit" class="btn btn-message" style="margin-left: 0px;padding-top: 5px;padding-bottom: 5px; width: 210px;; font-size: 1.1rem; color: white; font-weight: bold; border-radius: 25px;">Message</button>
        </form>
        
        {# Mục danh sách bạn bè - thay đổi tùy theo cách bạn muốn hiển thị #}
        <div class="friends-list">
            <h3>Bạn bè:({{ object.get_friends_no }})</h3>
            <div class="row">
                {% for friend in object.friends.all %}
                <div class="col-md-4">
                    <a href="{% url 'profiles:profile_detail_view' slug=friend.profile.slug %}"
                        style="text-decoration: none; color: black;">

                        <div class="card">
                            <img src="{{ friend.profile.avatar.url }}" class="card-img-top"
                                alt="Ảnh đại diện của {{ friend.username }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ friend.username }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <a href="{% url 'profiles:friends' slug=object.slug %}" class="btn btn-info">

            See all friends

        </a>


    </div>

</div>
<div class="posts-list">
    <h3>Bài viết gần đây</h3>
    {% if len_posts %}
    <ul>
        {% for post in posts %}
        <li class="post">
            <div class="post-content">
                <div class="user-post">
                    <img src="{{post.author.avatar.url}}" alt="{{post.author.avatar.url}}" class="post-img-user">
                    <div class="info-user">
                        <h4>{{post.author.first_name}} {{post.author.last_name}}</h4>
                        <small>{{post.author.country}},<span> {{post.get_time_elapsed}}</span> 
                            {% if post.visibility == "Public" %}
                                                <img src="{%static 'images/public_post.png'%}"
                                                    alt="{%static 'images/public_post.png'%}"
                                                    style="width: 15px; display: inline-block;">
                                                {%else%}
                                                <img src="{%static 'images/friend_post.png'%}"
                                                    alt="{%static 'images/friend_post.png'%}"
                                                    style="width: 15px; display: inline-block">
                                                {%endif%}
                            </small>
                    </div>
                </div>
                <p>{{ post.content }}</p>
                {% comment %} Có hình {% endcomment %}
                {%if post.num_images_post != 0%}
                <p class="imglist">
                    <!-- Duy nhất 1 ảnh -->
                    {%if post.num_images_post == 1 %}
                    {%for image in post.images.all %}
                    <!-- Kiểm tra image là video -->
                    {% if image.get_image_extension == ".MP4" or post.get_image_extension == ".MOV"%}
                    <a href="{{ image.image.url }}" data-fancybox="gallery{{ post.id }}" data-caption="1/1">
                        <video width="250px" controls>
                            <source src="{{image.url}}" type="video/mp4">
                            <source src="{{image.image.url}}" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </a>
                    <!-- Duy nhất 1 hình ảnh -->
                    {%else%}
                    <a href="{{ image.image.url }}" data-fancybox="gallery{{ post.id }}" data-caption="1/1">
                        <img src="{{image.image.url}}" alt="{{image.image.url}}">
                    </a>
                    {%endif%}
                    {%endfor%}
                    <!-- Nhiều hơn 1 ảnh -->
                    {%else%}

                    <!-- Duyệt danh sách hình ảnh -->
                    {%for image in post.images.all %}
                    <!-- Do đây là 1/n
                                                    lấy hình đầu tiên bỏ ra cho xem -->
                    {%if forloop.counter == 1 %}
                    {% if image.get_image_extension == ".MP4" or post.get_image_extension == ".MOV"%}
                    <a href="{{ image.image.url }}" data-fancybox="gallery{{ post.id }}"
                        data-caption="{{forloop.counter}}/{{post.num_images_post}}">
                        <video width="250px" controls>
                            <source src="{{image.url}}" type="video/mp4">
                            <source src="{{image.image.url}}" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </a>

                    {%else%}
                    <a href="{{ image.image.url }}" data-fancybox="gallery{{ post.id }}"
                        data-caption="{{forloop.counter}}/{{post.num_images_post}}">
                        <img src="{{image.image.url}}" alt="{{image.image.url}}">
                    </a>
                    {%endif%}

                    <!-- hình 2/n 
                                            hiển thị số lượng hình còn lại-->
                    {%elif forloop.counter == 2 %}
                    {% if image.get_image_extension == ".MP4" or post.get_image_extension == ".MOV"%}
                    <a href="{{ image.image.url }}" data-fancybox="gallery{{ post.id }}"
                        data-caption="{{forloop.counter}}/{{post.num_images_post}}">
                        <video width="250px" controls>
                            <source src="{{image.url}}" type="video/mp4">
                            <source src="{{image.image.url}}" type="video/ogg">

                        </video>
                        <span class="video-count">+{{post.num_images_post|add:"-2"}}</span>

                    </a>

                    {%else%}
                <div class="image-container">
                    <a href="{{ image.image.url }}" data-fancybox="gallery{{ post.id }}"
                        data-caption="{{forloop.counter}}/{{post.num_images_post}}">
                        <img src="{{image.image.url}}" alt="{{image.image.url}}">
                        <span class="image-count">+{{post.num_images_post|add:"-2"}}</span>
                    </a>
                </div>

                {%endif%}
                <!-- ẩn phần còn lại-->
                {%else%}
                {% if image.get_image_extension == ".MP4" or post.get_image_extension == ".MOV"%}
                <a href="{{ image.image.url }}" data-fancybox="gallery{{ post.id }}"
                    data-caption="{{forloop.counter}}/{{post.num_images_post}}">
                    <video width="250px" controls hidden>
                        <source src="{{image.url}}" type="video/mp4">
                        <source src="{{image.image.url}}" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>
                </a>

                {%else%}
                <a href="{{ image.image.url }}" data-fancybox="gallery{{ post.id }}"
                    data-caption="{{forloop.counter}}/{{post.num_images_post}}" hidden>
                    <img src="{{image.image.url}}" alt="{{image.image.url}}">
                </a>
                {%endif%}
                {%endif%}


                {%endfor%}
                {%endif%}
                </p>
                {%endif%}
                {% comment %} js fancybox {% endcomment %}
                <script>
                    $('[data-fancybox]').fancybox({
                        // Options will go here
                        buttons: [
                            'close'
                        ],
                        wheel: false,
                        transitionEffect: "slide",
                        // thumbs          : false,
                        // hash            : false,
                        loop: true,
                        // keyboard        : true,
                        toolbar: false,
                        // animationEffect : false,
                        // arrows          : true,
                        clickContent: false
                    });
                </script>



                <!-- Feed Action Aria -->
                <div class="action-button">
                    <div class="interaction-button">

                        <form action="{% url 'posts:like_post_view' %}" method="POST" class="like-form{{post.id}}"
                            id="{{post.id}}">
                            {%csrf_token%}
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            <!-- Nếu người dùng chưa có trong danh sách like bài viết -->
                            <button type="submit" class="like-btn like-btn{{post.id}}">
                                <span>
                                    {%if profile not in post.liked.all%}
                                    <span><i class="fa fa-heart"></i></span>
                                    {%else%}
                                    <span><i class="fa fa-heart liked"></i></span>
                                    {%endif%}
                                </span>
                            </button>
                        </form>





                        <!-- nút cmt: Tâm An-->
                        <!-- Tạo cmt -->

                        <form action="{%url 'posts:commented'%}" method="post"
                            class="form-comment form-comment{{post.id}}" id="{{post.id}}">
                            {% csrf_token %}
                            {{ c_form.as_p }}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="text" name="" class="input-comment" id="" placeholder="Bình luận bài viết">
                            <button type="submit" name="submit_c_form" class="btn btn-primary btn-send-main"><i
                                    class="fa-regular fa-paper-plane"></i></button>
                        </form>
                        <style>
                            .input-comment {
                                border: 1px solid black;
                                border-radius: var(--boder-radius);
                                height: 2rem;
                                font-weight: bold;
                                padding: 20px;
                                margin-right: 10px;
                                width: 85%;
                            }
                        </style>
                    </div>
                </div>

                <div class="liked-by liked-by{{post.id}}">
                    <!-- Chưa thằng nào like -->
                    {% if post.num_likes == 0 %}

                    <!-- 1 thằng like -->
                    {% elif post.num_likes == 1 %}

                    <span><img src="{{post.get_likes.first.avatar.url}}"
                            alt="{{post.get_likes.first.avatar.url}}"></span>
                    <p><b>{{post.get_likes.first.first_name}} {{post.get_likes.first.last_name}}</b></p>
                    <!-- Nhiều thằng like -->
                    {% else%}

                    <span><img src="{{post.get_likes.first.avatar.url}}"
                            alt="{{post.get_likes.first.avatar.url}}"></span>
                    {% for like in post.get_likes %}
                    {% if forloop.counter == 2 %}
                    <!-- Lấy phần tử thứ 2 -->
                    <span><img src="{{like.avatar.url}}" alt="{%static 'images/user1.jpeg'%}"></span>
                    {% endif %}
                    {% endfor %}

                    <p><b>{{post.get_likes.first.first_name}} {{post.get_likes.first.last_name}}</b>
                        and <b>{{ post.num_likes|add:"-1" }}
                            comments other</b></p>
                    {% endif %}

                </div>
                {% comment %} js của like không cần load trang {% endcomment %}
                <script>
                    $(document).on('submit', '.like-form{{post.id}}', function (e) {
                        e.preventDefault();
                        const post_id = $(this).attr('id');
                        const url = $(this).attr('action');

                        // Gửi request AJAX
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                'post_id': post_id,
                                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                            },
                            success: function (response) {
                                // Tìm icon trong nút like
                                const icon = $('.like-btn' + post_id).find('i.fa-heart');

                                // Cập nhật class dựa trên giá trị response
                                if (response.value == 'Like') {
                                    icon.addClass('liked');
                                } else {
                                    icon.removeClass('liked');
                                }

                                // Cập nhật số lượng likes
                                $('.like-count' + post_id).text(response.likes);





                                // Cập nhật phần hiển thị người dùng đã like
                                const likedByDiv = $('.liked-by{{post.id}}');
                                let htmlContent = '';

                                // Kiểm tra sự tồn tại của response.liked_users và nó phải là một mảng
                                if (response.liked_users && Array.isArray(response.liked_users)) {
                                    if (response.likes == 0) {
                                        console.log(0)
                                        // Không có ai like
                                        htmlContent = '';
                                    } else if (response.likes == 1) {
                                        console.log(1)
                                        // 1 người like
                                        const user = response.liked_users[0];
                                        htmlContent = `
                                            <span><img src="${user.avatar_url}" alt="${user.first_name} ${user.last_name}"></span>
                                            <p><b>${user.first_name} ${user.last_name}</b></p>
                                        `;
                                    } else {
                                        // Nhiều người like
                                        const firstUser = response.liked_users[0];
                                        const secondUser = response.liked_users[1];
                                        htmlContent = `
                                            <span><img src="${firstUser.avatar_url}" alt="${firstUser.first_name} ${firstUser.last_name}"></span>
                                            <span><img src="${secondUser.avatar_url}" alt="${secondUser.first_name} ${secondUser.last_name}"></span>
                                            <p><b>${firstUser.first_name} ${firstUser.last_name}</b> and <b>${response.likes - 1} others</b></p>
                                        `;
                                    }
                                } else {
                                    // Trường hợp không có dữ liệu người dùng liked
                                    htmlContent = ''; // Hoặc bạn có thể hiển thị một thông báo mặc định
                                }

                                likedByDiv.html(htmlContent);

                            },
                            error: function (response) {
                                console.log('Error:', response);
                            }
                        });
                    });



                </script>
                {% comment %} Container chứa toàn bộ comment của 1 bài viết {% endcomment %}
                <div class="container-comment{{ post.id }}">
                    {% for cmt in post.comment_set.all %}
                    <div class="caption caption{{ cmt.id }}"
                        style="background-color: antiquewhite; margin-bottom: 10px;">
                        <p>
                            <b>{{ cmt.user.first_name }} {{ cmt.user.last_name }}</b><span>
                                {{cmt.get_time_comment}}</span>
                            <br>
                            {{ cmt.body }}
                        </p>
                        <div class="edit-comment">
                            <img src="{%static 'images/svg/three-dots.svg'%}"
                                alt="{%static 'images/svg/three-dots.svg'%}">
                            <ul class="edit-item" style="z-index: 1;">
                                <li class="icon_edit_comment{{cmt.id}}"><i class="fa fa-pen"></i> Edit</li>
                                <li id="icon_delete_comment{{cmt.id}}"><i class="fa fa-trash"></i> Delete</li>
                            </ul>
                        </div>
                        <div class="popup delete_cmt{{cmt.id}}">
                            <div>
                                <div class="popup-box delete_cmt-popup-box">
                                    <h1>Bạn có muốn xóa bình luận không?</h1>

                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="cmt_del_id" value="{{cmt.id}}">
                                        <button type="submit" class="btnXoa">Delete</button>
                                    </form>
                                </div>
                                <span class="close close_{{cmt.id}}"><i class="fa fa-close"></i></span>
                            </div>
                        </div>
                        <!-- js modal delete cmt -->
                        <script>
                            document.querySelector('#icon_delete_comment{{cmt.id}}').addEventListener('click', () => {
                                document.querySelector('.delete_cmt{{cmt.id}}').style.display = 'flex'
                            });

                            document.querySelectorAll('.close_{{cmt.id}}').forEach(AllCloser => {
                                AllCloser.addEventListener('click', () => {
                                    document.querySelector('.delete_cmt{{cmt.id}}').style.display = 'none'
                                    document.querySelector('.edit_cmt{{cmt.id}}').style.display = 'none'

                                })
                            });
                        </script>
                    </div>

                    <!-- Sau khi nhấn edit > hiển thị đoạn này lên -->
                    <b class="auther_comment auther_comment{{cmt.id}}">{{cmt.user.first_name}}
                        {{cmt.user.last_name}}</b>

                    <form action="" method="post">
                        {%csrf_token%}
                        <div class="edit-input-comment">


                            <input name="body" required id="id_body"
                                class="input-edit-comment input-edit-comment{{cmt.id}}" type="text"
                                placeholder="Edit comment" value="{{cmt.body}}">


                            <button type="submit" style="font-weight: bold; display: none;"
                                class="btn-send btn-send{{cmt.id}}"><i class="fa-regular fa-paper-plane"></i></button>
                        </div>
                        <input type="hidden" name="edit_cmt_id" value="{{cmt.id}}">
                    </form>




                    <!-- js edit cmt -->
                    <script>
                        document.querySelectorAll('.icon_edit_comment{{cmt.id}}').forEach((iconEditComment, index) => {
                            iconEditComment.addEventListener('click', () => {
                                const caption = document.querySelectorAll('.caption{{cmt.id}}')[index];
                                const autherComment = document.querySelectorAll('.auther_comment{{cmt.id}}')[index];
                                const inputEditComment = document.querySelectorAll('.input-edit-comment{{cmt.id}}')[index];
                                const btnSend = document.querySelectorAll('.btn-send{{cmt.id}}')[index];
                                caption.style.display = 'none'; autherComment.style.display = 'flex';
                                inputEditComment.style.display = 'flex';
                                btnSend.style.display = 'block';
                            });
                        });
                    </script>
                    {%endfor%}
                    <!-- js edit cmt -->
                    <!-- Script xóa tất cả bình luận -->
                    <script>
                        document.getElementById('deleteAllComments{{ post.id }}').addEventListener('click', () => {
                            fetch(`/post/{{ post.id }}/delete_comments/`, {
                                method: 'POST',
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            })
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data.message);
                                    // Thực hiện các hành động khác nếu cần sau khi xóa
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                });
                        });
                    </script>
                    {% comment %} js không cần load trang {% endcomment %}
                    <script>
                        function createNewComment(userName, commentText) {
                            var commentHtml = `<div class="caption" style="background-color: antiquewhite; margin-bottom: 10px;">
                                         <p>
                                             <b>${userName}</b><span>0 giây trước</span>
                                             <br>
                                             ${commentText}
                                         </p>
                                         <div class="edit-comment">
                                             <img src="/static/images/svg/three-dots.svg" alt="/static/images/svg/three-dots.svg">
                                             <ul class="edit-item" style="z-index: 1;">
                                                 <li class="icon_edit_comment  icon_edit_comment144"><i class="fa fa-pen"></i> Edit</li>
                                                 <li id="icon_delete_comment144"><i class="fa fa-trash"></i> Delete</li>
                                             </ul>
                                         </div>
                                     </div>`;


                            return commentHtml;
                        }

                        $(document).on('submit', '.form-comment{{post.id}}', function (e) {
                            e.preventDefault();
                            const post_id = $(this).attr('id');
                            const url = $(this).attr('action');
                            var bodyInput = $(this).find('input[name="body"]').val(); // Lấy giá trị từ input có tên là "body"
                            var csrfToken = $(this).find('input[name="csrfmiddlewaretoken"]').val(); // Lấy CSRF token

                            // Gửi AJAX request
                            $.ajax({
                                type: 'POST',
                                url: url,
                                data: {
                                    'body': bodyInput,
                                    'post_id': post_id,
                                    'csrfmiddlewaretoken': csrfToken
                                },
                                success: function (response) {
                                    //Tạo 1 cái cặp thẻ bình luận mới
                                    var newComment = createNewComment(response.user_name_commented, bodyInput);
                                    // Thêm bình luận mới vào danh sách
                                    $('.container-comment{{post.id}}').prepend(newComment);

                                    // Xóa trường nhập liệu
                                    $('input[name="body"]').val('');
                                },
                                error: function (error) {
                                    console.error("Có lỗi xảy ra: ", error);
                                }
                            });
                        });
                    </script>
                    <!-- Comments: Thành -->
                    <!-- <div class="comments text-gry">
                 View all comments
                     </div> -->
                </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Chưa có bài viết nào.</p>
    {% endif %}
</div>


{% endblock content %}